.center {
    text-align: center;
}

code {
  font-family: Consolas,"courier new";
  color: crimson;
  background-color: #f1f1f1;
  padding: 2px;
  font-size: 105%;
}

.note {
    background: #6A5ACD; /*slateblue */
    color: #FFF5EE;
}

.sone {
    width:99%;
    border:10px solid grey;
    padding:3px;
    margin:0;
}

.stwo {
    width:90%;
    border:1px solid grey;
    padding:3px;
    margin:20px;
}

.sthree {
    width:90%;
    border:1px solid grey;
    padding:5px;
    margin:20px;
}

.sfour {
    width:90%;
    border:1px solid grey;
    padding:3px;
    margin:20px;
}
